<component name="ArtifactManager">
  <artifact type="war" name="spring-jediscluster:war">
    <output-path>$PROJECT_DIR$/spring-jedis-cluster/target</output-path>
    <root id="archive" name="spring-jediscluster.war">
      <element id="artifact" artifact-name="spring-jediscluster:war exploded" />
    </root>
  </artifact>
</component>