<component name="ArtifactManager">
  <artifact type="war" name="spring-mybatis-mulidatasource-atomikos:war">
    <output-path>$PROJECT_DIR$/spring-mybatis-mulidatasource-atomikos/target</output-path>
    <root id="archive" name="spring-mybatis-mulidatasource-atomikos.war">
      <element id="artifact" artifact-name="spring-mybatis-mulidatasource-atomikos:war exploded" />
    </root>
  </artifact>
</component>